*,
*::before,
*::after{
    margin:0;
    padding:0;
    /* 移动端常用布局 */
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    /* 移动端点击高亮效果 transparaent表示无效果,透明*/
    /* tap-highlight-color: transparent; */
    -webkit-tap-highlight-color: transparent;
}
body{
    font-size: 14px;
    /* sans-serif是移动端默认字体 */
    font-family: "Microsoft Yahei",sans-serif;
    color:#333;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
    color:#333;
}
input,textarea{
    border:none;
    outline:none;
    /* resize:none不允许改变尺寸 */
    resize:none;
    /* -webkit-appearance:none设置清除某些浏览器默认的元素外观 */
    -webkit-appearance:none;
}
.f_left{
    float: left;
}
.f_right{
    float:right;
}
.clearFix::before,
.clearFix::after{
    content:"";
    display: block;
    visibility: hidden;
    height:0;
    line-height: 0;
    clear:both;
}
.m_l10{
    margin-left: 10px;
}
.m_r10{
    margin-right: 10px;
}
.m_t10{
    margin-top: 10px;
}
.m_b10{
    margin-bottom: 10px;
}
/* //选中所有的精灵图 */
[class^="icon_"],[class*=" icon_"]{
    background-image: url("../../public/images/sprites.png");
    background-repeat: no-repeat;
    background-size: 200px 200px;
}